@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* view */
.view-area {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
  padding: 4px;
  width: 100%;
}
.content .square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: black solid 2px;
  background: radial-gradient(circle, rgba(113,81,95,1) 81%, rgba(0,0,0,1) 100%);
}
.content .square-flash {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: black solid 2px;
}
.content .square-flash::before {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(113,81,95,1) 81%, rgba(0,0,0,1) 100%);
  animation: flashing 0.5s infinite;
}
.content .ball {
  width: 30px;
  height: 30px;
  background-color: #A5F12B;
  border-radius: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moving 2s infinite;
  z-index: 1;
}
@keyframes flashing {
  0%   {opacity: 1;}
  50%  {opacity: 0.6;}
  100% {opacity: 1;}
}
@keyframes moving {
  0%   {left: 50%;}
  100% {left: 280%;}
}

/* sidebar */
.sidebar {
  background-color: black;
  width: 60%;
  height: 100%;
  padding: 1rem;
  color: #fff;
  position: fixed;
  top: 0;
  right: -60%;
  overflow-y: auto;
  z-index: 2;
  transition: right 0.5s;
}
.sidebar-open{
  right: 0;
}
.sidebar-close{
  right: -60%;
}
.sidebar .menu {
  padding: 0.5rem;
}
.sidebar .enable-bg {
  background-color: gray;
}
.sidebar .enable-color {
  color: yellow;
}
.sidebar .child {
  margin-left: 1rem;
}

/* navbar */
.navbar {
  background-color: white;
  padding: 0.2rem;
  height: 30px;
}

/* multiple animation demo */
.extra-ball {
  width: 30px;
  height: 30px;
  background-color: #A5F12B;
  border-radius: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 1;
  transition: all 1s ease;
  animation: shake 1s;
}
.extra-enter-from, .extra-leave-to {
  left: 15%;
  background-color: #A5F12B;
}
.extra-enter-to, .extra-leave-from {
  left: 75%;
  background-color: #492bf1;
}
@keyframes shake {
  10%, 90% {transform: translate3d(0, -4px, 0);}
  20%, 80% {transform: translate3d(0, 4px, 0);}
  30%, 50%, 70% {transform: translate3d(0, -4px, 0);}
  40%, 60% {transform: translate3d(0, 4px, 0);}
}

/* Move to the same point demo */
.extra-ball2 {
  width: 30px;
  height: 30px;
  background-color: #A5F12B;
  border-radius: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  transition: all 1s ease;
}
.left-1 {
  left: 10%;
}
.left-2 {
  left: 30%;
}
.left-3 {
  left: 60%;
}
.left-4 {
  left: 80%;
}
.extra2-enter-to, .extra2-leave {
  top: 20%;
  left: 40%
}